@import "./reset.scss";
@import "./fonts.scss";
@import "./variables.scss";

html {
   scroll-behavior: smooth;
   font-size: 16px;
}

body {
   font-family: "Space Grotesk", "Segoe UI", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 1rem;
   line-height: 1.5;
   color: var(--color-text);
   background-color: var(--color-background);
}

#root {
   width: 100%;
   min-height: 100vh;
}

.content-wrapper {
   width: 100%;
   margin: 0 auto;
   padding: 0 1.25em;
}

@import "./media.scss";
